

.wp-checkin-footer {
	padding: 80px 0;
	background-color: $wp-blue;
	color: $invert-color;

}

.wp-checkin-copy {
	margin: 0;
	text-align: center;
	font-size: 14px;

	a:link,
	a:visited {
		color: $invert-color;
		text-decoration: underline;
	}

	a:hover,
	a:active {
		color: $wp-red;
		text-decoration: none;
	}
}
