.wp-checkin-table {
	width: 100%;
	border-collapse: collapse;

	th,
	td {
		padding: 10px;
		text-align: left;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		font-size: 14px;
	}

	thead {
		th {
			background-color: #f1f1f1;
		}
	}

	.wp-checkin-ticket-label {
		display: inline-block;
		padding: 0.125em 0.25em;
		background-color: #ddd;
		color: #444;
	}

	.wp-checkin-mail {
		font-family: monospace;
		margin-left: 0.5em;
	}

	.avatar {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		object-fit: cover;
	}

	small {
		display: block;
		word-break: break-all;
	}
}

.wp-checkin-hidden {
	@media screen and (max-width: 767px){
		display: none;
	}
}

.wp-checkin-row:nth-child(even) {
	td {
		background-color: #f1f1f1;
	}
}

.wp-checkin-form {
	padding-bottom: 20px;
	text-align: center;

	&-input {
		min-width: 280px;
		-webkit-appearance: none;
		background-color: #fff;
		border: 1px solid #ddd;
		padding: 10px 15px;
		border-radius: 50px;
		font-size: 20px;
	}

	&-summary {
		font-size: 14px;
		font-weight: 700;
		color: #666;
	}
}

.wp-checkin-pagination {
	padding: 40px 0;

	ul {
		display: flex;
		justify-content: center;
		gap: 10px;
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	a,
	span {
		display: inline-block;
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		border-radius: 3px;
	}

	span {
		border: 1px solid $wp-blue-dark;
		background-color: $wp-blue;
		color: $invert-color;
	}

	a:link,
	a:visited {
		background-color: $invert-color;
		border: 1px solid $wp-blue-dark;
		color: $wp-blue-dark;
		text-decoration: none;
	}
	a:hover,
	a:active {
		background-color: $wp-red;
		border: 1px solid $wp-red;
		color: $invert-color;
		text-decoration: none;
	}
}

.wp-checkin-not-found {
	text-align: center;
	font-weight: 700;
}
