.wp-checkin-return {
	margin: 20px 0;
	padding: 0 15px;

	a {
		display: inline-block;
		padding: 5px 10px;
		vertical-align: middle;
		border-radius: 3px;

		+ a {
			margin-left: 20px;
		}

		&:link,
		&:visited {
			border: 1px solid $wp-blue-dark;
			color: $wp-blue-dark;
			background-color: $invert-color;
			text-decoration: none;
		}

		&:hover,
		&:active {
			border: 1px solid $wp-blue-dark;
			color: $invert-color;
			background-color: $wp-blue-dark;
			text-decoration: none;
		}

	}
}

.wp-checkin-owner {
	text-align: center;
	margin: 20px 0;

	.avatar {
		width: 96px;
		height: 96px;
		border-radius: 50%;
		object-fit: cover;
	}

	h2 {
		margin: 20px 0;
		font-size: 18px;
		font-weight: 700;
	}

	small {
		display: block;
		color: #666;
		font-weight: 700;
		font-size: 16px;
		margin: 20px 0;
	}

	button {
		padding: 5px 15px;
		font-size: 16px;
		cursor: pointer;
		border-radius: 3px;
		box-shadow: none;

		&.wp-checkin-btn-checked-in:hover {
			background-color: $wp-red;
			border-color: $wp-red;
			color: $invert-color;
		}
	}

	&-status {
		font-size: 18px;
		color: $wp-success;

		.dashicons {
			vertical-align: middle;
		}
	}
}

.wp-checkin-items {
	ol {
		margin: 10px auto 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #eee;
		max-width: 320px;
		text-align: left;
	}
}

.wp-checkin-ticket-detail {
	margin: 20px 0;
	table-layout: auto;
	border-collapse: collapse;
	width: 100%;

	caption {
		padding: 10px;
		font-weight: 700;
		font-size: 1.2em;
		text-align: center;
	}

	th,
	td {
		padding: 10px;
		border: 1px solid #eee;
		box-sizing: border-box;
	}

	th {
		text-align: left;
	}

	td {
		text-align: left;
	}

	tr:nth-child(even) {
		background-color: #f1f1f1;
	}

	@media screen and ( max-width: 450px ) {
		th,
		td {
			display: block;
			width: 100%;
		}
	}
	@media screen and ( min-width: 451px ) {
		th {
			width: 50%;
		}
	}
}


